<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Сайты с данными, содержащими строку "{{.Title}}"</title>
        <h2>Сайты с данными содержащими строку "{{.Title}}"</h2>
    </head>
    <body>
        <table>
            <thead>
                <th><div style="width:250px;">Сайт</div></th>
                <th><div align="right" style="width:150px;">Количество ответов</div></th>
                <th><div align="right" style="width:160px;">Время доступа</div></th>
            </thead>
            {{range $key, $rec :=.Data }}
            <tr>
                <td><div style="width:250px;">{{$key}}</div></td>
                <td><div align="right" style="width:150px;">{{$rec.ResponseCount}}</div></td>
                <td><div align="right" style="width:160px;">{{$rec.TimeResponse}}</div></td>
            </tr>
            {{end}}
        </table>
    </body>
</html>
